<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    there are three main types of scholarships: 1.Academic Learner: for year 10
    : criteria:Strong Academic Results – Please share any supporting documents
    2.Global Learner Scholarship:For the Global Trailblazers We are looking for
    students who embrace the world as their stage and thrive through cultural
    connections and global opportunities. For those who see the world as their
    classroom. Eligibility: Year 10 & 12 Criteria: Mock/exam results (where
    applicable) Evidence of learning beyond the classroom –
    videos/photos/certificates (Please share a Google Drive link or a Canva
    link) 10 min video presentation – ‘What it means to me to be a global
    learner’ (Please share a Google Drive link or a YouTube link) 3.Tomorrow's
    Leaders Scholarship : For the Innovators of Tomorrow We are looking for
    students who have ambition, purpose, and bold ideas. For those ready to
    lead, innovate, and build a brighter tomorrow. Eligibility: Year 12
    Criteria: Mock/exam results Evidence of work placements/certification
    Evidence of leadership (Head Boy/Girl/Sports Captain etc) 10 min video
    presentation – ‘Building a brighter tomorrow’ (Please share a Google Drive
    link or a YouTube link)
  </body>
</html>
